name: CD PIPELINE

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:

  buildcd:

    runs-on: self-hosted

    steps:
    - name: Pull Docker image
      run: echo "se va a subir al docker hub"
