name: CD PIPELINE

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:

  buildcd:

    runs-on: self-hosted

    steps:
    - name: Pull Docker image
      run: sudo docker pull erickolivarr/cicd-pipeline:latest
    - name: Delete Old docker container
      run: sudo docker rm -f cicd-pipeline-container || true
    - name: Run Docker Container
      run: sudo docker run -d -p 8080:8080 --name cicd-pipeline-container erickolivarr/cicd-pipeline:latest
