name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: login
      run: docker login -u ErickOlivarr -p 5370864fjGLn
    - name: Build the Docker image
      run: docker build -t cicd-pipeline .
    - name: Push to Dockerhub
      run: docker push erickolivarr/cicd-pipeline:latest
